*{
    box-sizing: border-box;
}
h1{
color: #000;
text-align: center;

}
h3{
    
float: right;
text-align: center;
border: solid black;
width: 6rem;
margin: 0;
}
section{
    
    border: 1px solid black;
    margin: 10px;
    background-color: #c0c0c0;
    
}
p{
    clear: left;
    background-color: #c0c0c0;
    padding: 5px;
}

  #ch h3{
    background-color: #1565c0;
    color:aliceblue
}
#bf h3{
    background-color: #e14789 ;
}
#su h3{
    background-color:#a49c99 ;
}
@media (min-width:992px) {
#ch,#bf,#su{float: right;
width: 30%;}
    
}
@media (min-width:768px) and (max-width:991px){
    #ch,#bf{float: right;
width: 47%;}
#su{
    clear:both
}
}

